@import "react-big-calendar/lib/addons/dragAndDrop/styles.css";
@import "react-big-calendar/lib/css/react-big-calendar.css";

.rbc-month-view {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.rbc-off-range-bg {
  background-color: rgb(243 245 246 / 1);
}

@media (prefers-color-scheme: dark) {
  .rbc-off-range-bg {
    background-color: rgba(255, 255, 255, 0.095);
  }
}

.rbc-date-cell {
  text-align: left;
  font-weight: normal;
  font-size: small;
  padding-left: 10px;
  padding-top: 7px;
}

.rbc-event {
  background-color: transparent;
}

.rbc-event-content {
  color: black;
  font-size: small;
}
